{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2>Регистрация кандидата</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            
            {{ form.fullname.label }} {{ form.fullname(class="form-control") }}
            {{ form.email.label }} {{ form.email(class="form-control") }}
            {{ form.password.label }} {{ form.password(class="form-control") }}
            {{ form.password2.label }} {{ form.password2(class="form-control") }}

            {{ form.field.label }} {{ form.field(class="form-select") }}
            {{ form.experience.label }} {{ form.experience(class="form-control") }}
            {{ form.skills.label }} {{ form.skills(class="form-control") }}

            <input type="hidden" name="role" value="candidate">

            {{ form.submit(class="btn btn-primary w-100 mt-3") }}
        </form>
    </div>
</div>
{% endblock %}
